@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}
button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(34, 34, 34);
}
i{
    background-color: rgb(34, 34, 34);
    color: white;
}

button i{
    font-size: 8em;
}

.status{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.status{
    width: 40vh;
    height: 10vhv;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.workDuration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    color: white;
}

.workDuration label{
    margin-right: 1%;
}


.breakDuration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}


.breakDuration label{
    margin-right: 1%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 40vh;
    height: 40vh;

    color: white;
    
    border-radius: 50%;
    border: 10px solid white;
    margin-top: 3%;
    margin-bottom: 3%;

}

.container p {
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5% ;
    background-color: white;
    color: black;
    bottom: 0;
}

.compteur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}